language: php

php:
  - '7.1'

before_script:
  composer install

script:
  composer dump -o
  vendor/bin/steward run staging chrome --server-url http://SAUCE_USERNAME:SAUCE_ACCESS_KEY@ondemand.saucelabs.com/wd/hub

addons:
  sauce_connect:
    username: $SAUCE_USERNAME
    access_key: $SAUCE_ACCESS_KEY

cache:
  directories:
    - $HOME/.composer/cache
